[Unit]
Description=Monthly Budabit strfry retention

[Timer]
OnCalendar=monthly
Persistent=true
RandomizedDelaySec=30m
Unit=budabit-strfry-retention.service

[Install]
WantedBy=timers.target
